@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #61d3f6;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(270deg, #00394b 0%, #000 100%) !important;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.font-quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.fade-in {
  opacity: 0;
  animation: fadein 2s forwards;
  visibility: hidden;
}

.delay-1 {
  animation-delay: 0.5s;
}

.delay-2 {
  animation-delay: 1s;
}

.delay-3 {
  animation-delay: 1.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
    visibility: visible;
  }
}

.box-shadow-hover {
  &:hover {
    box-shadow: 0.5rem 0.5rem 0px var(--primary);
    transform: translate(0.1rem, 0.1rem);
  }
}

.image-container {
  transform: rotate(15deg) !important;
  box-shadow: var(--primary) 0px 22px 120px 4px;
  border: 4px solid var(--primary);
}

.image-wrapper {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  box-shadow: 1rem 1rem 0px var(--primary);
  overflow: hidden;

  @media screen and (max-width: 768px) {
    width: 200px;
    height: 200px;
  }
}

.profile-image {
  position: absolute;
  width: 340px;
  height: 340px;
  border-radius: 10px;
  object-fit: cover;
  transform: rotate(-15deg);
  transition: all 0.5s ease;
  margin-top: 30px;

  @media screen and (max-width: 768px) {
    width: 240px;
    height: 240px;
  }
}
